header {
    background: white;
}

.main-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    position: sticky;
}

.menu {
    width: 100%;
    height: 55px;
    margin: 4px;
    margin-bottom: 0;
    margin-top: 8px;
    padding: 2px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* text-align: right; */
}

.menu button {
    border: none;
    background: inherit;
}


/* .menu-icon,
.shopping-bag,
.search-icon {
  font-size: 20px;
} */

.header-search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eeecec;
    margin: 4px 18px;
    margin-top: 0;
    padding: 5px 8px;
    height: 40px;
    border-radius: 8px;
}

.header-search-form button {
    border: none;
    background: inherit;
    padding-top: 5px;
}

.main-search-box {
    border: none;
    background: inherit;
    width: 100%;
}

*:focus {
    outline: none;
}

.product-number-in-bag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid red;
    background: red;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
    top: -38px;
    left: -18px;
}

.dropdown {
    /* margin-top: 40px; */
    padding-top: 80px;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    margin-top: -70px;
    border: none;
    background: inherit;
}

.user-name {
    /* margin: 4px; */
    background: inherit;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    border: 1px solid #ccc;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 50%;
}

.dropdown-content-visible {
    display: flex;
}

.dropdown-content button {
    margin: 6px 0;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.overlay.overlay-visible {
    display: block;
}