.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header-search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e6e4e4;
    margin: 24px 12px;
    padding: 5px 8px;
    height: 50px;
    border-radius: 8px;
}

.header-search-form button {
    border: none;
    background: inherit;
    padding-top: 5px;
}

.main-search-box {
    border: none;
    background: inherit;
    width: 100%;
}