.order-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-container {
    text-align: center;
}

.container {
    display: flex;
}

.link {
    color: #003cff;
}

.product-name {
    width: 73%;
    margin: 12px 0;
    padding-right: 8px;
    text-align: right;
}

.img-container {
    width: 30%;
    margin-top: 12px;
    align-items: center;
}

.product-details {
    width: 70%;
    margin-top: 8px;
}

.product-details {
    margin: 0 8px;
}

.colors-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    margin: 12px 0;
    padding-bottom: 12px;
}

.color-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: auto;
    height: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 0 8px;
}

.color-text {
    font-size: 60%;
    margin: 2px 4px;
    padding: 2px 4px;
}

.color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 8px;
}

.price {
    margin: 0 8px;
    font-weight: bold;
    color: #ee4949;
    padding-left: 8px;
    display: flex;
}

.price h5 {
    margin: 0 2px;
    /* font-family: 'Markazi Text', serif; */
    font-size: 80%;
}

.product-stock {
    /* margin-bottom: 6px; */
    color: #ee4949;
    font-size: 65%;
    font-weight: lighter;
}

.add-cart-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 16px 8px 8px 0;
}

.product-number-input,
.product-count-inc,
.product-count-dec {
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
}


/* .product-number-input.disabled {
    background: #d3d3d3;
} */

.product-count-inc,
.product-count-dec {
    width: 30px;
    background: #fff;
    font-weight: bold;
}

.product-count-inc {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
}

.product-count-inc:active {
    background: #19c219;
}

.product-count-inc.disabled {
    background: #d3d3d3;
}

.product-count-inc.disabled:active {
    background: #d3d3d3;
}

.product-count-dec {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}

.product-count-dec:active {
    background: #da1432;
}

.product-count-dec.disabled {
    background: #d3d3d3;
}

.product-count-dec.disabled:active {
    background: #d3d3d3;
}

.inputs {
    border-radius: 8px;
    margin-left: 25px;
}

.add-to-card {
    width: auto;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background: #da1432;
    border: 1px solid #da1432;
    padding: 0 20px;
}

.add-to-card.disabled {
    background: #91444f;
    border: 1px solid #91444f;
}

.product-number-input {
    text-align: center;
}

.btn-trash {
    background: inherit;
    border: none;
}


/* .cart-summery h6 {
    display: block;
} */

.cart-summery-container {
    width: 100%;
    margin: 12px 0;
    padding: 8px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cart-summery {
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.number-product {
    color: #ee4949;
}

.summery-price {
    margin: 0;
    font-family: 'Markazi Text', serif;
    font-weight: bold;
    color: #ee4949;
    padding-left: 0;
}

.btn-proceed {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background: #da1432;
    border: 1px solid #da1432;
    margin: 16px 0;
    padding: 0 20px;
}

.btn-proceed.disabled {
    background: #91444f;
    border: 1px solid #91444f;
}

.delivered {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background: #25da14;
    border: 1px solid #25da14;
    padding: 0 20px;
}