/* .form-container {
  position: relative;
  top: 30px;
} */

.form-title {
    margin: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 4px;
}

.input-container {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 0 8px;
    border-radius: 8px;
}

.login-icons {
    font-size: larger;
}

.input {
    margin: 8px 0;
    padding: 8px;
    border: none;
    width: 100%;
}

.btn-submit {
    margin: 8px 0;
    padding: 8px;
    color: #fff;
    background: #da1432;
    border: 1px solid #da1432;
    border-radius: 8px;
    width: 100%;
}

.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8px;
}

.register-text {
    margin-left: 12px;
}

.register-link {
    color: #da1432;
}

.order-summery {
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.summery-price {
    margin: 0;
    font-family: 'Markazi Text', serif;
    font-weight: bold;
    color: #ee4949;
    padding-left: 0;
}