a {
    text-decoration: none;
    color: #6b6d6b;
    padding: 8px 0;
}

.card.s {
    width: 170px;
    margin: 4px;
    text-align: center;
    padding: 8px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.card.s h4 {
    /* font-family: 'Lalezar', cursive; */
    /* font-family: 'Almarai', sans-serif; */
    font-family: 'Markazi Text', serif;
    /* font-family: 'Tajawal', sans-serif; */
    font-size: 120%;
    padding: 4px 0;
}

.card.s img {
    width: 100%;
    padding: 4px 0;
    border-radius: 12px;
}

.card.ss {
    width: 100%;
    margin: 12px 0;
    padding: 8px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}

.card.ss img {
    width: 100%;
    padding: 4px 0;
    border-radius: 12px;
}

.card.l {
    width: 100%;
    margin: 4px;
    text-align: right;
    padding: 8px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.card.l h4 {
    /* font-family: 'Lalezar', cursive; */
    /* font-family: 'Almarai', sans-serif; */
    font-family: 'Markazi Text', serif;
    /* font-family: 'Tajawal', sans-serif; */
    font-size: 120%;
    padding: 4px 0;
}

.card.l img {
    width: 100%;
    padding: 4px 0;
    border-radius: 12px;
}

.card.l p {
    padding: 8px;
}