@font-face {
    font-family: IRANSans;
    src: url(./resources/IRANSans\ 400.ttf);
}

* {
    box-sizing: border-box;
    direction: rtl;
    font-family: IRANSans;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f5f5;
    color: #6b6d6b;
}

section {
    width: 375px;
    height: 812px;
    border: 1px solid #ccc;
    overflow-y: scroll;
}


/* main {
  min-height: 76vh;
} */

i {
    font-size: 25px;
    color: #999e99;
}